# requirements.txt - Dépendances de Production

# Pour l'API
fastapi
uvicorn
pydantic

# Pour le modèle et le traitement des données
pandas
numpy
scikit-learn
scikit-learn-intelex
lightgbm

# Pour l'application Streamlit et les visualisations
streamlit
requests
plotly